name: research-PROJECT_NAME
services:
  PROJECT_NAME:
    container_name: NAME  # Must be same as defined in Taskfile
    stdin_open: true
    tty: true 
    image: NAME:VERSION_TAG  # Must be same as defined in Taskfile
    pull_policy: never
    volumes:  
      - ${DATA_PATH}:/workspace/SOME_PATH_IN_CONTAINER  # Usually /workspace/data or /workspace/PROJECT_NAME/data
    ports:
      - "8080:8080"  # Change to needed ports
    ipc: host
    command: ["bash"]
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]